# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.installed.cfg
.egg-info/
.nox/
.tox/
.coverage
.coverage.*
nosetests.xml
*.cover
*.log

# Virtual Environment
venv/
venv.bak/
env/
env.bak/
.env

# IDE / Editor folders
.idea/
.vscode/
.history/
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# Other files
.env  # Environment variables
.env.local  # Local environment variables

# /static/uploads/
